[[source]]
url = "https://pypi.org/"
verify_ssl = true

[packages]
flask-bcrypt = "*"
mongoengine = "*"
requests = "*"
flask-login = "*"
flask = "*"
redis = "*"
peewee = "*"
scipy = "*"
scikit-learn = "*"
blinker = "*"
lxml = "*"
inflect = "*"
numpy = "*"
