.one-item:hover {
    background-color: #F5F8FA;
}

.one-item {
    text-align: left;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .div-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-overflow: ellipsis;
        max-height: 2.4em;

        h5 {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2; /* number of lines to show */
            line-height: 1.2em;        /* fallback */
        }

        a.title {
            margin-left: 5px;

        }
    }
    .div-authors {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        margin-left: -10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .meta-info {
        display: flex;
        justify-content: space-between;

        .meta-info-first {
            display: flex;
            justify-content: flex-start;
            white-space: nowrap;
            width: 70%;

            .journal {
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: calc(100% - 6em);
            }

            .pub-date {
                color: #8999A5;
            }

            .pub-date::before {
            content: "\00b7";
            margin-left: 2px;
            margin-right: 2px;
            color: black;
            }
        }
        .meta-info-second::before {
            content: "From";
            margin-right: 3px;
        }
        .meta-info-second {
            .meta-info-second-inner {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding-left: 0;
                display: flex;
            }
            display: flex;
            justify-content: flex-end;
            width: 25%;
        }
        .meta-info-second li:not(:first-child)::before {
            content: ", ";
        }

        li.from-subscription {
            margin-left: 3px;
        }
    }
}

.modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}

.modal-body {
    .div-authors {
        margin-left: -10px;
    }
    .detail {
        .abstract {
            .btn {
                padding: 0;
            }
        }
    }
    .highlight1 {
        color: red;
    }
    .highlight2 {
        color: yellow;
    }
    ul {
        padding-left: 15px;
    }
}

.term-popover {
    max-width: 30vw;

    .term-popover-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0;

        .term-popover-follow-btn {
            margin-left: 10px;
        }
    }

    .ancestors-div {
        .self {
            color: grey;
        }
    }
}