.subscription-container {
    .subscription-manager-outer {
        position: fixed;
        background-color: white;
        padding: 10px;
        margin: 0 -10px;

        .subscription-manager-inner {
            overflow-y: auto;
            height: unquote("calc(100vh - 60px)");
            // padding-bottom: 20px;

            input {
                max-width: 100%;
            }

            .btn-follow {
                width: 70px;
            }
        }
    }

    li {
        list-style-type: none;
    }

    .list-group {
        margin: 0;
    }

    .subscription {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        margin-right: 5px;
    }

    .recommendations {
        padding: 0;

        .btn-follow:hover {
            background-color: #337ab7;
        }
    }
}