.subscription-container {
    .subscription-management {
        position: fixed;
        background-color: white;
        padding: 10px;
        margin: 0 -10px;


        input {
            max-width: 100%;
        }

        .btn-follow {
            width: 70px;
        }

        .subscription {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;
        }
    }

    li {
        list-style-type: none;
    }
}

