.subscription-container {
    .subscription-management {
        position: fixed;
        background-color: white;
        padding: 10px;
        margin: 0 -10px;


        input {
            max-width: 100%;
        }

        .btn-follow {
            width: 70px;
        }

        .subscription {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;
        }
    }

    .one-item:hover {
        background-color: #F5F8FA;
    }

    .one-item {
        text-align: left;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .div-title {
            display: flex;
            align-items: center;
            justify-content: space-between;

            a.title {
                margin-left: 5px;
            }
        }
        .div-authors {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: nowrap;
            margin-left: -10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .meta-info {
            display: flex;
            justify-content: space-between;
        }
        .meta-info-first {
            display: flex;
            justify-content: flex-start;
        }
        .meta-info-second::before {
            content: "From";
            margin-right: 3px;
        }
        .meta-info-second {
            display: flex;
        }
        .pub-date::before {
            content: "\00b7";
            margin-left: 2px;
            margin-right: 2px;
            color: black;
        }
        .pub-date {
            color: #8999A5;
        }
        p.from-subscription {
            margin-left: 3px;
        }
        .meta-info-second p:not(:first-child)::before {
            content: ", ";
        }
    }
}

