body {
    padding-top: 50px;
    background-color: #F5F8FA;
    /*padding-bottom: 50px;*/
}
a {
    text-decoration: none;
}
p {
    margin-bottom: 0;
}
a:hover {
    text-decoration: none;
}
/*p {*/
    /*margin-bottom: 5px;*/
/*}*/
.detail a {
    font-size: 20px;
}
#search_button {
    margin-left: 10px;
    /*margin-right: 10px;*/
}
.modal
{
    height: 400px;
    top: calc(50% - 200px);
}
.modal h3 {
    margin:0;
}
.progress {
    margin-bottom:0;
}
.progress-bar {
    width: 100%;
}
.label {
    margin: 0 0px;
    font-size: 100%;
}
/*nav.navbar {
    height: 50px;
}*/
.div_title {
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 5px;
    overflow: hidden;
}
.selected .title {
    font-size: 17px;
}
.author {
    margin-right: 5px;
}
.detail {
    display: none;
}
.selected .detail {
    display: block;
}
.journal {
    margin-right: 5px;
}
.pubdate {
    margin-right: 5px;
}
.score {
    margin-right: 5px;
}
.div_author {
    font-size: 12px;
    margin-bottom: 10px;
    overflow: hidden;
}
.metainfo {
    font-size: 12px;
    margin-bottom: 3px;
}
#main {
    width: 90%;
    text-align: center;
    padding-top: 20px;
}
.pagination {
    margin-top: 10px;
}
#login {
    padding-top: 0.5em;
    /*width: 20%;*/
    /*display: inline;*/
}
#register_btn {
    margin-right: 5px;
}
.score {
    display: inline;
}
/*#num_results {*/
    /*margin-left: 10px;*/
/*}*/
#form_search {
    /*display: inline-block;*/
    /*width: 300px;*/
   /* padding: 0;*/
    /*float: left;*/
}
#span_num_results {
    /*display: inline-block;*/
    /*width: 120px;*/
    /*margin-left: -15px;*/
}
.navbar-text {
    display: inline-block;
    float: none;
}
.list-group-item {
    padding-top: 2px;
    padding-bottom: 2px;
}
.div_author a{
    color: #fff;
}
.journal a{
    color: #fff;
}
/*.paperlist {
    height: calc(100% - 130px);
    overflow: auto;
}*/
/* apple colors */
[class*='-dark'] {
    background-color:#02243C;
    color:#f0f0f0;
}
[class*='-light'] {
    background-color:#f9f9f9;
    color:#999;
}
[class*='-blue'] {
    background-color:#5195ce;
    color:#fff;
}
[class*='-apple'] {
    background-color:#005DB3;
    color:#f8f8f8;
}
[class*='-gray'] {
    background-color:#e6e6e6;
    color:#666;
}
[class*='-green'] {
    background-color:#5BC236;
    color:#fff;
}

/* hover and active */
[class*='-dark']:hover,[class*='-dark']:focus {
    background-color:#12254d;
    color:#fff;
}
[class*='-light']:hover,[class*='-light']:active {
    background-color:#eeeeee;
    color:#fff;
}
[class*='-blue']:hover,[class*='-blue']:active {
    background-color:#62a6df;
    color:#fff;
}
[class*='-apple']:hover,[class*='-apple']:active {
    background-color:#116ec4;
    color:#fff;
}
[class*='-gray']:hover,[class*='-gray']:active {
    background-color:#d5d5d5;
    color:#fff;
}
[class*='-green']:hover,[class*='-green']:active {
    background-color:#6cd347;
    color:#fff;
}
#instant {
    display: none;
    position: absolute;
    top: 100px;
    left: 200px;
    min-width: 500px;
    border: 5px;
    border-style: inset;
    text-align: left;
    background-color: white;
}
#instant li:hover {
    background-color: #EEEEEE;
}
li {
    list-style-type:none;
}
ul {
    padding: 0;
}
#filter_container li:hover {
    background-color: #EEEEEE;
    cursor: pointer;
}
.highlight {
    color: red;
}
#span_order_by {
    margin-left: 5px;
}

.l10 {
    margin-left: 10px;
}
.b10 {
    margin-bottom: 10px;
}
.subscription-management {
    background-color: white;
    padding: 10px;
}
input {
    max-width: 100%;
}
.follow-button {
    /*padding-left: 0;*/
}
.one-item:hover {
    background-color: #F5F8FA;
}
.one-item {
    text-align: left;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.div-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.div-authors {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-left: -10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.logincol {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
a.title {
    margin-left: 5px;
}
.subscription {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.btn-follow {
    width: 70px;
}
.meta-info {
    display: flex;
    justify-content: space-between;
}
.meta-info-first {
    display: flex;
    justify-content: flex-start;
}
.meta-info-second::before {
    content: "From";
    margin-right: 3px;
}
.meta-info-second {
    display: flex;
}
.pub-date::before {
    content: "\00b7";
    margin-left: 2px;
    margin-right: 2px;
    color: black;
}
.pub-date {
    color: #8999A5;
}
p.from-subscription {
    margin-left: 3px;
}
.meta-info-second p:not(:first-child)::before {
    content: ", ";